/***************************************** Admin  *****************************/
.lista{
    background-color: lightyellow !important;
    color: #1a374d !important;
}
.lista-activo{
    background-color: #1a374d !important; 
    color:lightyellow !important;
}
.tabla{
    color:#1a374d;
}
.tabla-amarillo{
    background-color: #f7ce51;
}

.tabla-amarillo2{
    background-color: #fffb67;
}

.tabla-fila{
    background-color: white;
}
/***************************************** formulario *****************************************/
.correcto{
    border-color: green;
}
.erroneo{
    border-color: red;
}

.btn-ins{
    background-color: #1a374d !important;
    color: lightyellow !important;
}
.btn-ins:hover{
    background-color:  lightyellow !important;
    color: #1a374d !important;
}